

<div class="layui-form" lay-filter="layuiadmin-form-shopadmin" style="padding: 20px 0 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label">课程id</label>
    <div class="layui-input-inline">
        <input type="text"  name="courseid"   class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">授课老师工号</label>
    <div class="layui-input-inline">
      <input type="text"  name="skteacher"   class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">授课老师姓名</label>
    <div class="layui-input-inline">
      <input type="text"  name="teaname"   class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">课程名</label>
    <div class="layui-input-inline">
      <input type="text"  name="coursename"   class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit id="LAY-shop-front-submit" lay-filter="LAY-shop-front-submit" value="添加课程" class="layui-btn">
    </div>
  </div>
</div>

<script>

</script>