

<title>商品管理</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">课程管理</a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-tab" lay-filter="shopList">
          <div class="layui-card pad15" >
            <div class="layui-card-header">课程列表</div>
            <div class="layui-card-body">
              <div style="padding-bottom: 10px;" class="layui-form" lay-filter="layuiadmin-form-categoryadmin">

                <div class="layui-form-item">
                  <div class="layui-input-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" id="add">添加课程</button>
                  </div>

<!--                    <label class="layui-form-label">校园卡号</label>
                    <div class="layui-input-inline">
                      <input type="text"  name="storageCount" lay-verify="required" value="" autocomplete="off" class="layui-input"/>
                    </div>-->
                </div>
              </div>

              <table id="LAY-menber"  lay-filter="LAY-menber"></table>
              <script type="text/html" id="table-menber-webuser">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="modi"><i class="layui-icon"></i>删除</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="modi"><i class="layui-icon"></i>修改</a>
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use([ 'table','element','upload'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,view = layui.view
            ,table = layui.table
            ,form = layui.form
            ,upload = layui.upload;
        var data = {"coursename":"","deletenumber":"","addnumber":"","updatenumber":"","number":"","newcoursename":"","newnumber":"","newskteacher":""}
        layui.setter.menu();
        form.render(null, 'layuiadmin-form-categoryadmin');
        form.on('select(role)', function(data){
            var role = data.value;
            if(role){
              table.reload('LAY-student', {
                  where: {
                      role: role
                  }
              });
            }
        });
        $(document).on('click','#add',function(){
            admin.popup({
                title: '添加课程'
                , area: ['400px', '450px']
                , id: 'LAY-popup-shop-add'
                , success: function (layero, index) {
                    view(this.id).render('lesson/lesson/add').done(function () {
                        form.render(null, 'layuiadmin-form-shopadmin');
                        //监听提交
                        form.on('submit(LAY-shop-front-submit)', function (data) {
                            var data = data.field;
                            $.ajax({
                                url: layui.setter.ServerURL + 'course/addCourse',
                                contentType: "application/json",
                                headers:{"token":layui.data('layuiAdmin').access_token},
                                data: JSON.stringify(data), //请求的附加参数，用json对象
                                method: 'POST',
                                success: function (res) {
                                    if (res == true) {
                                        layer.close(index); //执行关闭
                                        layer.msg("添加成功啦", {icon: 1});
                                        layui.table.reload('LAY-menber'); //重载表格
                                    } else {
                                        layer.msg("添加失败", {icon: 2});
                                    }
                                },
                                error: function () {
                                    layer.msg("添加失败", {icon: 5});
                                }
                            });
                        });

                    });
                }
            })
        });
        table.render({
            elem: '#LAY-menber'
            ,url: layui.setter.ServerURL+'course/findAllCourse'
            ,page:  true
            ,where: data
            ,method:'get'
            ,headers:{
                "token":layui.data('layuiAdmin').access_token,
            },cols: [[ //表头
                {field: 'courseid', title: '课程编号'},
                {field: 'coursename', title: '课程名'},
                {field: 'skteacher', title: '教师编号'},
                {field: 'teaname', title: '教师名'},
                {title: '操作', width: 150, align:'center', fixed: 'right', toolbar: '#table-menber-webuser'}
            ]],request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
        });
        table.on('tool(LAY-menber)', function(obj){
            var data = obj.data;
            if(obj.event === 'modi'){
                admin.popup({
                    title: '修改权限'
                    , area: ['400px', '450px']
                    , id: 'LAY-popup-shop-add'
                    , success: function (layero, index) {
                        view(this.id).render('admin-menber/rolemodi', data).done(function () {
                            form.render(null, 'layuiadmin-form-shopadmin');
                            //监听提交
                            form.on('submit(LAY-shop-front-submit)', function (data) {
                                data.field["access_token"] = layui.data('layuiAdmin').access_token;
                                var data = data.field;
                                $.ajax({
                                    url: layui.setter.ServerURL + 'user/Updateuserrole',
                                    contentType: "application/json",
                                    headers:{"token":layui.data('layuiAdmin').access_token},
                                    data: data, //请求的附加参数，用json对象
                                    method: 'GET',
                                    success: function (res) {
                                        if (res == true) {
                                            layer.close(index); //执行关闭
                                            layer.msg("修改成功啦", {icon: 1});
                                            layui.table.reload('LAY-menber'); //重载表格
                                            layui.table.reload('LAY-student'); //重载表格
                                        } else {
                                            layer.msg("修改失败", {icon: 2});
                                        }
                                    },
                                    error: function () {
                                        layer.msg("修改失败", {icon: 5});
                                    }
                                });
                            });

                        });
                    }
                })
            }
        });
    });

</script>